*{  
  background-color:black;
  color:white;
}

.App {
  padding-top: 20vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  color: black;
  padding: 8px;
  margin:5px;
  background-color: aquamarine;
  border-radius: 5px;
}
button:hover{
  background-color: burlywood;
}
